*{
    padding: 0;
    margin: 0;
}



/* 设计参数栏开始 */
.productContent{
    width: 100vw;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #ccc;
    background: white;
    z-index: 2;
}

.productContent .detail{
    width: 100vw;
    height: 45px;
    position: relative;
}

.productContent .detail p{
    position: absolute;
    top: 0;
    left: 0;
}

.productContent .detail div{
    position: absolute;
    top: 0px;
    right: 0px;
}

.productContent .detail div span{
    display: inline-block;
    width: 50px;
    height: 24px;
    border-radius: 3px;
    background: deepskyblue;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    margin-left: 14px;
    color: #fff;
    cursor: pointer;
}
/* 设计参数栏结束 */